<div ng-controller="recipeController as vm">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Recipe Name</label>
            <input ng-model="vm.recipe.RecipeName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
        </div>
        <button ng-show="vm.setup" type="submit" class="btn btn-default" ng-click="vm.generateForm()">Submit</button>
    </form>
    <div ng-repeat="ingredient in vm.ingredients">
        {{ingredient.IngredientDescription}}

    </div>
    <form class="form-inline" ng-show="!vm.setup && !vm.writeRecipe">
        <label>Add an ingredient:</label>
        
        <input ng-model="vm.ingredient.IngredientDescription" type="text" class="form-control" />
        <button type="submit" class="btn btn-default" ng-click="vm.addIngredient()">Next Ingredient</button>
        <button type="submit" class="btn btn-default" ng-click="vm.addDirections()">Done with Ingredients</button>

    </form> 
    <form ng-show="vm.writeRecipe">
        <div class="form-group">
            <label>Directions</label>
            <textarea ng-model="vm.recipe.Instructions" class="form-control"/>
            <label>Yield</label>
            <input type="text" class="form-control" ng-model="vm.recipe.Yield" />
            <label>Author</label>
            <input type="text" class="form-control" ng-model="vm.recipe.RecipeSource" />
            <label>Time to Make</label>
            <input type="text" class="form-control" ng-model="vm.recipe.MinutesToMake" />
            <label>Notes</label>
            <input type="text" class="form-control" ng-model="vm.recipe.Notes" />
        </div>
        <button type="submit" class="btn btn-default" ng-click="vm.updateRecipe()">Submit Recipe</button>
    </form>
    <!--<form>
            <div class="form-group" ng-show="vm.setup">
                <label for="exampleInputPassword1">How many total ingredients are needed for this recipe?</label>
                <input ng-model="vm.numOfIngredients" type="number" class="form-control" id="exampleInputPassword1" placeholder="# of ingredients">
            </div>
            <div class="form-group" ng-show="vm.setup">
                <label for="exampleInputPassword1">How many total steps are required in the directions?</label>
                <input ng-model="vm.numOfSteps" type="number" class="form-control" id="exampleInputPassword1" placeholder="# of steps">
            </div>

            <button ng-show="vm.setup" type="submit" class="btn btn-default" ng-click="vm.generateForm()">Submit</button>
        </form>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Recipe Name</label>
                <input ng-model="vm.RecipeName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name">
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Quantity</th>
                        <th>Unit of Measure</th>
                        <th>Ingredient</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="form-group" ng-show="!vm.setup">
                                <input ng-model="" type="number" class="form-control" id="exampleInputPassword1" placeholder="# of steps">
                            </div>
                        </td>
                        <td>

                        </td>
                    </tr>
                </tbody>
            </table>
        </form>-->
</div>
