<div ng-controller="shoppingListController as vm" >
    <div class="text-center">
        <img src="./images/letsdishshoppinglistheader.PNG" class="headerImg" />
    </div>
    <table class="table">
        <tr ng-repeat="ingredient in vm.ingredients">
            <td>
                <div class="checkbox" >
                    <label>
                        <input type="checkbox" ng-model="myCheckbox" ng-change="vm.removeFromList(ingredient)" /> {{ingredient.IngredientDescription}}
                    </label>
                </div>
            </td>
        </tr>
    </table>
    
</div>